.ded-form {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

form {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(istockphoto-1341761658-1024x1024.jpg);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 30%;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    input {
        color: #000;
    }
    button {
        background-color: rgb(105, 105, 105);
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    p {
        background-color: #fff;
        border-radius: 5px;
    }
}

.table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.valor {
    padding: 0.5rem;
}

.input.active {
    border: red 2px solid;
}

.txt-items {
    display: flex;
    gap: 5rem;
}

.txt-items-d {
    display: flex;
    gap: 4rem;
}

.txt-items-dd {
    display: flex;
    gap: 4.7rem;
}